<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<%= link_to "Retourner à la liste des restaurants", restaurants_path %> <br>
<%= link_to "Ajouter un avis sur le restaurant", new_restaurant_review_path(@restaurant) %>
<br>

<% @restaurant.reviews.each do |review| %>
  <p><%= review.content %></p>
  <p><%= review.rating %></p>
  <% end %>
